{% extends "base.html.twig" %}
{% block body %}
	<div class="container login-div">
		<h1 class="h3 mb-4 font-weight-normal text-center my-md-5">Se connecter</h1>
		<div class="col-md-6 mx-auto mb-5 login-form text-center">
			<form name="registration_form" method="post">
				<div class="form-group">
					<label for="registration_form_username" class="required">Email</label><input type="text" id="registration_form_username" name="registration_form[username]" required="required" class="form-control"></div>
				<div class="form-group">
					<label for="registration_form_username" class="required">Prenom</label><input type="text" id="registration_form_username" name="registration_form[username]" required="required" class="form-control"></div>
				<div class="form-group">
					<label for="registration_form_email" class="required">Nom</label><input type="email" id="registration_form_email" name="registration_form[email]" required="required" class="form-control"></div>
				<div class="form-group">
					<label for="registration_form_password" class="required">Mot de passe</label><input type="password" id="registration_form_plainPassword_first" required="required" class="form-control"></div>
				<div class="form-group d-flex justify-content-center"></div>

				<button type="submit" class="btn btn-info mb-2">Creer un compte
				</button>

				<input type="hidden" id="registration_form__token" name="registration_form[_token]" value="2CcgrajBPqODG9RJO2WQdR2dUS8rKrYlWGG96sqB1T4"></form>

			<a class="custom-link" href="/login" id="alreadyAccount">Vous avez déja un compte</a>

		</div>
	</div>
{% endblock %}
