<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="Snowtricks, snowboard, tricks, community">

		<title>
			{% block title %}snow tricks!
			{% endblock %}
		</title>

		{% block stylesheets %}

			<!-- Bootstrap CSS -->
			<link
			rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
			<!-- Fonts -->
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		{% endblock %}
	</head>

	<body data-spy="scroll" data-target="#mainNav">

		<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top" id="mainNav">
			<a class="navbar-brand">
				<i class="fas fa-snowboarding"></i>
			</a>
			<div class="ml-auto" id="mainNavBar">
				<div class="navbar-nav ml-auto">
					<a class="nav-item nav-link nav-separator" id="navTricks">Tricks</a>
					<a class="nav-item nav-link nav-separator" id="navLogin">Se connecter
					</a>
					<a class="nav-item nav-link nav-separator" id="navSignup">S'inscrire</a>
				</div>
			</div>
		</nav>

		{% block body %}{% endblock %}

		<footer class="row mx-0 py-3 text-left">
			<p class="mb-0 ml-4">Copyright
				<i class="far fa-copyright"></i>
				2021
			</p>
		</footer>

		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html></body></html></html>
